# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this project.
# ------------------------------------------------------------------------------

# Required
OPENAI_API_KEY=
SOCIAL_DATA_API_KEY=
DATABASE_URL=
DATABASE_DIRECT_URL=

# Required for Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRODUCT_ID=

# Optional for production analytics
#NEXT_PUBLIC_POSTHOG_KEY='phc_Y5qvzkoJg3nYtjBybwTMw3kLzIyrHmIt9Qj3KKhWsA9'
#NEXT_PUBLIC_POSTHOG_HOST='https://us.i.posthog.com'
