.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.footerContent {
  pointer-events: auto;
  align-self: center;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.copyright,
.desc {
  font-size: 80%;
}

.desc {
  flex: 1;
  font-style: italic;
  text-align: center;
}

.copyright,
.social {
  flex: 0.5;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

@media only screen and (max-width: 500px) {
  .footerContent {
    flex-direction: column;
    gap: 0.5em;
  }

  .footerContent .social {
    justify-content: center;
    order: 1;
  }

  .footerContent .desc {
    order: 2;
  }

  .footerContent .copyright {
    justify-content: center;
    order: 3;
  }
}
