.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #111;
}

.wellnessFact {
  position: relative;
  background: url('/wellness-fact-bg.jpg');
  background-size: cover;
  width: 1024px;
  max-width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.wellnessFactTextContainer {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 60%;
  height: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.wellnessFactText {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #eee;
}
